.hero {
  display: flex;
  height: 270px;
  align-items: center;
  justify-content: center;
  background-color: var(--color-black);
  gap: 30px;
  text-align: center;
}

@media screen and  (max-width:576px){
  .hero {
    flex-wrap: wrap-reverse;
    margin-top: 13rem;
    /* background-color: antiquewhite; */
  }
  .hero h1 {
    margin-bottom: 1rem;
  }
   
}
