.wrapper {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-black);
  color: var(--color-white);
  align-items: center;
  padding: 8px 20px 8px 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.wrapper:hover {
  color: var(--color-black);
  background-color: var(--color-white);
}

.album {
  display: flex;
  align-items: center;
}
.album img {
  width: 51px;
  height: 50px;
  border-radius: 5px;
  border: 5px;
  margin-right: 8px;
}

.album P {
  line-height: 18px;
  font-weight: 400;
}
.artist {
  font-size: 12px;
}
