.wrapper {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(152px, 1fr));
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.toggleText {
  cursor: pointer;
  color: var(--color-primary);
}

.cardWrapper {
  margin-top: 18px;
}

.boundary {
  margin: 20px 20px 15px 20px;
}

.circularProgress {
  display: flex;
  justify-content: center;
  padding: 6rem;
}

/* ============ BREAKPOINTS ================================ */

@media screen and (min-width: 992px) {
  .wrapper {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }
}
