.search {
  height: 100%;
  border: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border: 1px solid var(--color-black);
  border-right: none;
  width: 502px;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.wrapper {
  display: flex;
  align-items: stretch;
  height: 48px;
}

.searchButton {
  border-radius: 0px 8px 8px 0;
  padding: 14px 20px;
  height: 100%;
  border: 1px solid var(--color-black);
  border-left: none;
  
  background-color: var(--color-white);
}
 

.paper {
  width: "800px";
  background: "var(--color-black)";
}

::-webkit-scrollbar {
  display: none;
}
