.search {
  height: 100%;
  border: 8px;
  border-radius: 8px;
  border: 1px solid var(--color-black);
  width: 502px;
  outline: none;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.wrapper {
  display: flex;
  align-items: stretch;
  height: 48px;
}

.searchButton {
  border-radius: 0px 8px 8px 0;
  padding: 14px 20px;
  height: 100%;
  border: 1px solid var(--color-black);
  border-left: none;
  background-color: var(--color-white);
}

.paper {
  border: 1px solid var(--color-primary);
  border-top: 0px;
  position: relative;
  right: 30%;
  width: 800px;
  margin: 0 auto;
  background: var(--color-black) !important;
  top: 4px;
  border-radius: 0 0 4px 4px;
  display: block;
}

@media screen and (max-width: 750px) {
  .wrapper {
    width: 385px;
  }
  .paper {
    right: 0;
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .paper {
    top: -9px;
  }
}

@media screen and (max-width: 992px) {
  .search {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .wrapper {
    position: absolute;
    top: 74px;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
  }

  .searchButton,
  .search {
    border-radius: 0;
  }

  .searchButton,
  .search {
    border-color: var(--color-white);
  }
}

@media screen and (max-width: 350px) {
  .wrapper {
    width: 350px;
  }
}
